# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
plant_disease_api/
*.egg-info/
*.egg

# Virtual environment
include/
Lib/
Scripts/
pyvenv.cfg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.temp
*~